@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Lato, sans-serif;
}

h1 {
	margin: 20px 10px;
	color: #6e6990;
}

ul {
	padding: 0;
	margin-top: 10px;
}

li {
	list-style-type: none;
	padding: 10px;
	margin: 10px;
	background-color: #b4dcdc;
	color: #418b8b;
	border-radius: 5px;
	width: 30%;
}

form {
	margin: 10px 0 20px 10px;
}

input[type=text] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f1eff6;
	width: 30%;
	font-size: 14px;
	color: #6e6990;
}

input:focus {
	outline: none;
}
input::placeholder {
	color: #6e6990;
}

button {
	font-size: 14px;
	margin: 0 10px;
	padding: 10px;
	background-color: #dcb5c2;
	color: #8b415a;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #cb90a4;
	color: #f2e3e8;
}
